<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/180px-BMW.svg.png" alt="" width="25" height="25">
      </a>
      <a href="#" class="navbar-brand">BMW GEAR-RATIO CALCULATOR</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav h4">
        <li>
          <a href="#" routerLink="/automatic">Automatic Mode</a>
        </li>
        <li>
          <a href="#" routerLink="/manual">Manual Mode</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="">Help <span class="glyphicon glyphicon-question-sign"></span></a>
          </li>
          <li>
            <a href="">About</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
