<div class="container">
  <div class="row">
    <div class="col" align="center">
      <h4>Choose a BMW model from the dropdown list: </h4> <br>
      <div class="form-group">
        <select class="form-control" id="modelSelect">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" align="center">
      <h4>Choose wheel size: </h4> <br>
      <select class="form-control" id="wheelSize">
        <option value="wheel" *ngFor="let wheel of allWheels">{{wheel.width}}/{{wheel.profile}}/{{wheel.diameterInInches}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col" align="center" style="padding: 2%">
      <button class="btn btn-primary">Calculate!</button>
    </div>
  </div>
</div>
